body{
  background-color: #f8f9fa !important;  
}

form {
	margin-top: 1rem;
}

label{
	font-weight: bold;
	font-size: 0.9rem;
	margin-bottom: .25rem;
}

#main {
	width: 550px;
	margin-top: .25rem;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

.row-menu{
    display: flex;    
    flex-wrap: wrap;
	margin-right: 0px;
    margin-left: 0px;
}